html{
  font-size: 16px;
}
body{
}
.App {
  font-size: 14px;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #f3f3f3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #09d3ac;
}

.add-movie-btn{
  float: right;
  margin-right: 10px;
}

.list-movies-btn{
   float: right;
  margin-right: 10px;
}
.form-movie{
  width: 50%;
}